.controls-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.controls-container p {
    font-size: 10px;
    margin: 0 10px;
}

@media only screen and (min-width: 768px) {
    .controls-container {
        width: 50%;
    }
}
