.editor {
    width: 100%;
    min-height: 100px;
    margin: 10px auto 0;
    border: 1px solid #ccc;
}

.result {
    margin: 10px auto 0;
    width: 100%;
}

button {
    display: block;
    margin: 10px auto;
}

@media only screen and (min-width: 768px) {
    .result,
    .editor {
        width: 50%;
    }
}
